:root {
  --dark: hsl(0, 0%, 8%);
  --medium: hsl(0, 0%, 41%);
  --light: hsl(0, 0%, 98%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Epilogue, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.attribution {
  margin-top: 32px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

header {
  margin: 1rem 1rem 1rem;
  display: flex;
}

.logo {
  display: inline;
  margin-right: auto;
  font-size: 2.1875rem;
  line-height: 2.1875rem;
  letter-spacing: -0.49px;
  font-weight: 700;
}

.hamburger-menu {
  z-index: 100;
  display: inline;
  float: right;
  margin: auto 0;
}

.hero-image__container {
  margin-top: 1.5rem;
}

.hero-image {
  width: 100%;
  height: auto;
}

.text-container {
  margin: 3rem 1rem 0 1rem;
}

h1 {
  margin: 0;
  color: var(--dark);
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.5px;
}

p {
  color: var(--medium);
  text-align: center;
  font-size: 16px;
  line-height: 26px;
}

button {
  font-family: Epilogue, sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.22px;
  border-radius: 15px;
  padding: 11px 22px;
  border: none;
}

.button--black {
  color: var(--light);
  background-color: var(--dark);
}

.block-center {
  display: block;
  margin-inline: auto;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-48 {
  margin-top: 48px;
}
